<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/statics/dataTables/jquery.dataTables.min.css}" />
    <script th:src="@{/statics/js/jquery/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/statics/dataTables/jquery.dataTables.min.js}"></script>

    <style>
        .dataTable{
            text-align: center;
        }

    </style>
</head>
<body>
    <table id="example" class="cell-border" style="width:100%">
        <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>序号</th>
            <th>账号</th>
            <th>密码</th>
            <th>名字</th>
            <th>状态</th>
            <th>开始日期</th>
            <th>时长</th>
            <th>操作</th>
        </tr>
        </thead>
    </table>

    <script>
        $(document).ready(function () {
            $('#example').dataTable({

                "processing": true,      //翻页或者搜索的时候，前端是否给出“正在搜索”等提示信息
                "serverSide": false,     // true表示使用后台分页
                "lengthMenu": [15,20],
                "ajax": {
                    "url": "/shiro/user/getAllUser",  // 异步传输的后端接口url
                    "type": "get"      // 请求方式
                },
                "fnDrawCallback"    : function(){
                    this.api().column(1).nodes().each(function(cell, i) {
                        cell.innerHTML =  i + 1;
                    });
                },
                "columns": [
                    {"defaultContent": ""},
                    {"defaultContent": ""},
                    { "data": "userId" },
                    { "data": "password" },
                    { "data": "name" },
                    { "data": "status"},
                    { "data": "date"},
                    { "data": "time"},
                    {"defaultContent": ""},
                ],
                "columnDefs": [
                    {
                        "targets" : [ 0 ],
                        "sWidth" : "50px",
                        "className" : "center",
                        "data" : "userId",
                        "render" : function(data, type, full) {
                            return '<label><input type="checkbox" name="checkbox" value="'
                                + data
                                + '"></label>';
                        }
                    },
                    {
                        "targets" : [ 8 ],
                        "sWidth" : "180px",
                        "className" : "center",
                        "data" : "userId",
                        "render" : function(data, type, full) {
                            return '<a href="javascript:void(0);"  title="查看" onclick="view(this,\''
                                + data
                                + '\')" >查看</a> <a href="javascript:void(0);" title="修改" onclick="update(this,\''
                                + data
                                + '\')" >修改</a>'
                                + '<a href="javascript:void(0);" title="移除" onclick="del(this,\''
                                + data
                                + '\')" >删除</a>'
                                + '<a href="javascript:void(0);" title="暂停" onclick="stop(this,\''
                                + data
                                + '\')" >暂停</a>'
                                + '<a href="javascript:void(0);" title="恢复" onclick="resume(this,\''
                                + data
                                + '\')" >恢复</a>';


                        }
                    },
                    {
                        // 隐藏了  第3列和第4列
                        "targets" : [3,4 ],
                        "visible":false,
                        "render":function(data){
                            return data ;
                        }

                    }

                ],
                language: {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "processing" : false,//等待加载效果
                "ordering" : true,//排序功能
                "aaSorting" : [],
                "width" : "100%",
                "bLengthChange" : true,
                "iDisplayLength" : 15,
                "searching" : true,
                "autoWidth" : false,

            })
        })


        function view(obj,data) {
            alert(data);
        }

        function update(obj,data) {
            alert(data);
        }

        function del(obj,data) {
            alert(data);
        }

        function stop(obj,data) {

            $.ajax({
                url: '/shiro/user/stopJob/'+data,
                type: 'get',
                success: function (dt) {
                    if(dt.code === 200){
                        alert('暂停成功');
                    }else{
                        alert(dt.data);
                    }
                }
            })
        }

        function resume(obj,data) {
            $.ajax({
                url: '/shiro/user/resumeJob/'+data,
                type: 'get',
                success: function (dt) {
                    if(dt.code === 200){
                        alert('恢复成功');
                    }else{
                        alert(dt.data);
                    }
                }
            })
        }
    </script>
</body>
</html>