<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <p>首页</p><br>

    <a href="javascript:;" th:text="${session.currentUserName}!=null ? ${session.currentUserName} : '游客'"></a><br>
    
    <a href="sys/welcome" title="打">登录1</a>
    <a th:href="@{/sys/register}">注册</a>
    <a href="javascript:;" class="logout">注销</a><br>


    <div shiro:hasRole="admin">
        <a th:href="@{/sys/add}">添加教师</a><br>
        <!--<a href="sys/add">添加教师</a><br>-->
        <a th:href="@{/sys/update}">更新教师</a><br>
    </div>

    <div shiro:hasAnyRoles="admin,teacher">
        <a th:href="@{/sys/add}">添加学生</a><br>
        <a th:href="@{/sys/update}">更新学生</a><br>
    </div>

    <div shiro:hasRole="student">
    <a th:href="@{/sys/update}">普通学生</a><br>
    </div>

    <a href="">游客</a><br>

    <a th:href="@{/sys/downimages}">下载图片</a><br>

    <a th:href="@{/sys/demo1}">pdf</a><br>

    <a th:href="@{/sys/userList}">用户列表</a><br>

    <script>
        $('.logout').click(function () {
            $.ajax({
                url: '/shiro/user/logout',
                type: 'post',
                success: function (data) {
                    if(data.code===200){
                        alert("注销成功");
                        location.href="/shiro/index";
                    }
                }
            })
        })
    </script>
</body>
</html>